<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChromaDB Document Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header">
        <nav class="nav">
            <a href="{{ url_for('view_documents') }}"><strong>Documents</strong></a>
            <a href="{{ url_for('home') }}">Chunk Manager</a>
            <a href="{{ url_for('index') }}">Chat Interface</a>
            <a href="{{ url_for('upload') }}">Upload Files</a>
        </nav>
    </div>
     <div class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>