<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Interface</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat_interface.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="banner-header">
        <img src="{{ url_for('static', filename='images/d916f8ee7b727030e25d4ec536e7b187.jpg') }}" alt="Banner" class="banner-image">
        <div id="site-title"><a href="{{ url_for('index') }}">
            <img src="https://exhibits.library.stonybrook.edu/mfp/files/theme_uploads/3e26e9e9aed298e449ad72559c0750ef.jpg" alt="Max Fink Digital Collection"></a>
        </div>
    </header>
    <div class="main-flex-row">
        <div class="chat-container">
            <div id="loadingOverlay" class="loading-overlay" style="display:none;">
                <div class="spinner"></div>
            </div>
            <div id="chatMessages" class="chat-messages" style="display: none;"></div>
            <form id="queryForm" class="chat-form">
                <input type="text" id="questionInput" name="question" placeholder="Type your question..." autocomplete="off" required>
                <button type="submit" id="sendBtn" class="btn btn-primary"><i class="fas fa-paper-plane"></i></button>
            </form>
        </div>
        <aside class="sidebar">
            <h2>About this Chat Interface</h2>
            <p>
                Welcome to the Max Fink Digital Collection chat assistant. Use the chat to ask questions about Max Fink's work, life, and related documents available in the Stony Brook Libraries Special Collection. Responses are generated based on the documents in the collection.
            </p>
            <br>
            <h2>What is Retrieval-Augmented Generation (RAG)?</h2>
            <p>
                Retrieval-Augmented Generation (RAG) is a framework that combines retrieval-based and generation-based approaches to improve the quality of generated responses. It retrieves relevant documents from a knowledge base and uses them to inform and enhance the generation process.
            </p>
        </aside>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>